include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/icipecustomization *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/icipecustomization/migration *.ini *.py *.mako
recursive-include ckanext/icipecustomization/public *.*
